<br>
<div class="text-center mb-5">
  <h2>Formulaire de création d'un nouvel utilisateur</h2>
  <hr>
  <label>Pseudo</label><br>
  <input type="text" [(ngModel)]="pseudo"><br>
  <hr>
  <label>Mail</label><br>
  <input type="email" [(ngModel)]="mail"><br>
  <hr>
  <label>Role</label><br>
  <select [(ngModel)]="role">
    <option>--Choisir un role pour cet utilisateur--</option>
    <option>UTILISATEUR</option>
    <option>ADMINISTRATEUR</option>
  </select>
</div>
<div class="text-center mb-5" id="buttonGenerate">
  <button *ngIf="!creationOk"
          class="btn-success"
          (click)="save()">Valider
  </button>
</div>
<br><br>
<div class="text-center mb-5" id="creationMessage" *ngIf="creationOk">Création de l'utilisateur réussie !</div>
<hr>
