<hr>
<div id="article" class="text-center">
  <h1>Liste des articles en attente de validation</h1>
</div><br>
<div class="text-center mb-5">
  <p style="background-color: black; color: red">Les articles de cette page sont des brouillons en attente de validation</p>
</div>
<div class="container mt-3">
  <div class="row">
    <div id="cardsArticles">
      <div class="card-deck">
        <div *ngFor="let article of articles">
            <app-article
              [article]="article">
            </app-article>
        </div>
      </div>
    </div>
  </div>
</div>

