<hr>
<div class="details-article">
  <div class="card mb-4" id="card_album" style="min-width: 30rem; max-width: 45rem;">
    <img class="card-img-top image-responsive" src="https://www.coe.int/documents/7354802/32103489/opinion.jpg/2496310e-7dc4-5d52-6164-edd6c9a9100d?t=1515493038000" alt="Card image cap"
         style="min-height: 30rem; max-height: 30rem">
    <div class="card-body text-center">
      <h1>{{article.title}}</h1>
      <hr>
      <br>
      <p>{{article.content}}</p>
      <br>
      <hr>
      <p style="color: blue">Article rédigé par {{article.author.pseudo}}</p>
    </div>
  </div>
  <div class="text-center mb-5">
    <a routerLink="/articles">
      <button class="btn-warning">Retour</button>
    </a>
  </div>
  <div *ngIf="article.status === 'DRAFT' && !isPublish" class="text-center mb-5">
      <button (click)="publishAnArticle()" class="btn-primary">Publier</button>
  </div>
  <div class="text-center mb-5" *ngIf="isPublish">
    <p style="background-color: green; color: beige">L'article vient d'être publié. Il apparait donc maintenant dans la liste des articles publiés du blog.</p>
  </div>
</div>

