<div class="card mb-4" id="card_album" style="min-width: 18rem; max-width: 18rem; min-height: 28rem; max-height: 28rem">
  <img class="card-img-top image-responsive"
       src="https://www.coe.int/documents/7354802/32103489/opinion.jpg/2496310e-7dc4-5d52-6164-edd6c9a9100d?t=1515493038000"
       alt="Card image cap" style="min-height: 8rem; max-height: 10rem">
  <div class="card-body text-center">
    <h5 class="card-title">{{article.title}}</h5>
    <p>Resumé : {{article.resume}}</p>
    <h6 style="color: darkorange"> Par {{article.author.pseudo}}</h6>
    <p style="font-family: 'Arial Black',serif; color: green">Categorie {{article.cat.name}}</p>
    <div class="card-footer text-center">
      <a [routerLink]="['/details', article.id]" routerLinkActive="active">
        <button class="btn btn-primary">Détails</button>
      </a>
    </div>
    <br>
    <button *ngIf="article.status === 'PUBLISHED'">+</button>
  </div>
</div>
<hr>
