<br>
<div class="form-group">
  <input type="text" class="form-control" placeholder="Chercher par titre d'article..." [(ngModel)]="term">
</div><br>
<hr>
<div id="article" class="text-center">
  <h1 style="color: whitesmoke">Liste de l'ensemble des articles du blog</h1>
</div><br>
<div class="buttonCategorie">
  <button class="bg-success" (click)="setCatValue('Sport')">Sport</button><br><br>
  <button class="bg-primary" (click)="setCatValue('Musique')">Musique</button><br><br>
  <button class="bg-danger" (click)="setCatValue('Informatique')">Informatique</button><br><br>
  <button class="bg-warning" (click)="setCatValue('Cinéma')">Cinéma</button><br><br>
  <button class="bg-success" (click)="setCatValue('Divers')">Divers</button><br><br>
  <button class="bg-dark" (click)="setCatValue('')">Tous les articles</button><br><br>
</div><br><br>
<div class="container mt-3">
  <div class="row">
    <div id="cardsArticles">
      <div class="card-deck">
        <div *ngFor="let article of getArticles() | filter:term">
          <div *ngIf="article.status === 'PUBLISHED'">
            <app-article
              [article]="article">
            </app-article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
