@import '~bootstrap/dist/css/bootstrap.min.css';


.navbar{
  background-color: darkslateblue;
}

.card-deck
{
  width: 100%;
  margin: auto;
}

#article{
  font-family: "Comic Sans MS", serif;
  display: flex;
  justify-content: center;
  border: solid 4px darkslateblue;
  border-radius: 15px;
}

#cardsArticles{
  display: flex;
  justify-content: center;
  margin: auto;
  position: absolute;
  left: 12%;
}

h1{
  align-content: center;
}

body{
  color: dimgrey;
  background-color: lightgrey;
  font-family: "Comic Sans MS", serif;
  background-image:url(https://julienalour.files.wordpress.com/2013/12/wallpaper-fonds-decran-arriere-plan-pour-site-web-2-0-full-hd.jpg)
}

input, textarea
{
  background-color: gainsboro;
}

hr{
  height: 30px;
  border-style: solid;
  border-color: darkgoldenrod;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: darkgoldenrod;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
