<div>
  <h1>Admin Interface</h1><br>
</div>
<div id="createArticle">
  <h2>Créer un nouvel article</h2>
  <hr>
  <div class="text-center mb-5">
    <label>Pseudo de l'auteur</label><br>
    <input class="titre" placeholder="Pseudo..." [(ngModel)]="pseudo">
  </div>
  <br>
  <div class="text-center mb-5">
    <label>Titre de l'article</label><br>
    <input class="titre" placeholder="Titre..." [(ngModel)]="title">
  </div>
  <br>
  <div class="text-center mb-5">
    <label for="resume" id="resume">Resumé de l'article</label>
    <textarea
      class="form-control" rows="3"
      [(ngModel)]="resume" maxlength="150">
        </textarea>
  </div>
  <br>
  <div class="text-center mb-5">
    <label for="content" id="contentArticle">Contenu de l'article</label>
    <textarea
      class="form-control" rows="3" id="content"
      [(ngModel)]="content">
        </textarea>
  </div>
  <br>
  <div class="text-center mb-5">
    <label>Categorie</label><br>
    <select [(ngModel)]="categorieName">
      <option>--Choisir une catégorie pour cet article--</option>
      <option>Sport</option>
      <option>Musique</option>
      <option>Informatique</option>
      <option>Cinéma</option>
      <option>Divers</option>
    </select>
  </div>
</div>
<div id="buttonGenerate">
  <button *ngIf="!creationOk"
          class="btn-success"
          (click)="save()">Valider
  </button>
</div>
<br><br>
<div id="creationMessage" *ngIf="creationOk">Votre article a été créée correctement !</div>
<hr>

