#deleteMessage
{
  background-color: green;
  text-align: center;
}

#creationMessage
{
  color: black;
  background-color: green;
  text-align: center;
  display: flex;
  justify-content: center;
}

h2
{
  text-align: center;
}

#contentArticle
{
  text-align: center;
}

#resume
{
  display: flex;
  justify-content: center;
}

#buttonGenerate
{
  display: flex;
  justify-content: center;
}

#title
{
  display: flex;
  justify-content: center;
}
