<div>
  <h1>Admin Interface</h1><br>
  <div style="text-align: center">
    <a routerLink="/userscreation" routerLinkActive="active"><button class="bg-warning">Ajouter un utilisateur</button></a>
    <br><br>
    <hr><br>
    <a routerLink="/creation" routerLinkActive="active"><button class="bg-primary">Ajouter un article</button></a>
    <br><br>
    <hr><br>
    <a routerLink="/draft" routerLinkActive="active"><button class="bg-secondary">Voir les articles en attente de validation</button></a><br><br>
    <hr><br>
  </div>
</div>


